<html>
{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'project/CSS/nav.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'project/CSS/showOne.css' %}">
    <script src="{% static 'project/JavaScript/showOne.js' %}"></script>
</head>

<body>
{% block nav_bar %}
<ul>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">View</a>
        <div class="dropdown-content">
            <a href="#">View Profile</a>
            <a href="#">View my Projects</a>
            <a href="#">View Donations</a>
        </div>
    </li>
    <li><a href="#news" onclick="view()">Delete Account</a></li>

</ul>
<div id="a">
    <h4 class="header">Are you Sure you want to delete your Account!</h4>
    <div class="btns">
        <button class="button button2">Delete</button>
        <button class="button button3" onclick="hide()">Cancel</button>
    </div>
</div>
<script>
        function view() {
    	document.getElementById('a').setAttribute('style', 'display:block');
        }
        function hide(){
            document.getElementById('a').setAttribute('style','display:none');
        }


</script>

{% endblock %}
</body>
</html>