
{% load static %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <!--<link rel="stylesheet" href="{% static 'project/CSS/showOne.css' %}">-->
    </head>
    <body>
      <!--display data div-->
        <
            <label for="project_title"> Project title: </label>
            <p>{{ project.title }}</p>

           <label for="details">Details:  </label>
           <p>{{ project.details}}</p>

           <label for="start">Start date:</label>
           <p>{{ project.start_date}}</p>

           <label for="end">End date:</label>
           <p>{{ project.end_date}}</p>

           <label for="category">Category:</label>
           <p>{{ project.category.name}}</p>

      <form method="POST"> {% csrf_token %}

       {{ form1.as_p }}
     <input type="submit" value="add comment">
     </form >
      <form action="{% url 'add_donation' project.id %}"  method="POST">  {% csrf_token %}

{{ form2.as_p }}
    <input type="submit" value="add donation">
</form>





    </body>
</html>

